<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<div class="waper">
    <div>
        <p>
            ng-bootstrap 以需要引入ngbModule，任何组件，如分页，tab,datapicker......都可以使用了,
            <br> 但是ngx-bootstrap必须使用哪个组件就引入哪个组件，降低包大小
            <br> 在style.css文件中通过@inport引入样式文件
        </p>
        <accordion>
            <accordion-group heading="Static Header, initially expanded">
                This content is straight in the template.
            </accordion-group>
            <accordion-group heading="Another group">
                <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Another group">
                <p>Some content</p>
            </accordion-group>
            <accordion-group heading="Another group">
                <p>Some content</p>
            </accordion-group>
        </accordion>
    </div>
</div>