<div class="waper" (wheel)="whe($event)">
    <div>
        <h2>ngx-bootstrap</h2>
      
    </div>
    <div>
        <h2>array sort</h2>
        <table>
            <tr *ngFor="let item of datas">
                <td>{{item}}</td>
            </tr>
        </table>
        <h2>array reduce</h2>
        {{dat}}
    </div>
    <div>
        <p>图片剪裁框</p>
        <p>vertical-align食相对line-height而定的，向上为正，向下为负</p>
        <div id="box">
            <img id="img1" src="assets/1.jpg">
            <img id="img2" src="assets/1.jpg">
            <div id="main" (mousedown)="mouseDown($event)">
                <div id="dian1" (mousedown)="mouseDown($event)"></div>
                <div id="dian2" (mousedown)="mouseDown($event)"></div>
                <div id="dian3" (mousedown)="mouseDown($event)"></div>
                <div id="dian4" (mousedown)="mouseDown($event)"></div>
                <div id="dian5" (mousedown)="mouseDown($event)"></div>
                <div id="dian6" (mousedown)="mouseDown($event)"></div>
                <div id="dian7" (mousedown)="mouseDown($event)"></div>
                <div id="dian8" (mousedown)="mouseDown($event)"></div>
            </div>
        </div>
    </div>
</div>