<div class="waper">
  <div>
    <div>
      <button (click)="Play(videos)">播放</button>
      <button (click)="Pause(videos)">暂停</button>
      <button (click)="Load(videos)">重载</button>
      <button (click)="Stop(videos)">停止</button>
      <button (click)="Muted(videos)">静音</button>
      <button (click)="Before(videos)">上一个</button>
      <button (click)="Next(videos)">下一个</button>
      <button (click)="UpVol(videos)">+</button>
      <button (click)="DownVol(videos)">-</button>
    </div>
    <div>
      <video #videos width="420" [muted]="isMuted">
        <source *ngIf="canShowVideo" [src]="videoSrc" [type]="videoType">
      </video>
      <div>
        {{videoTime}}
      </div>
    </div>
  </div>
  <div>
    <div>
      <button (click)="Play(audios)">播放</button>
      <button (click)="Pause(audios)">暂停</button>
      <button (click)="Load(audios)">重载</button>
      <button (click)="Stop(audios)">停止</button>
      <button (click)="Muted(audios)">静音</button>
      <button (click)="Before(audios)">上一个</button>
      <button (click)="Next(audios)">下一个</button>
      <button (click)="UpVol(audios)">+</button>
      <button (click)="DownVol(audios)">-</button>
    </div>
    <div>
      <audio #audios>
        <source *ngIf="canShowAudio" [src]="audioSrc" [type]="audioType">
      </audio>
      <div>
        {{audioTime}}
      </div>
    </div>
    <p>
      音频视频文件没有上传，自己加到assets/mediaFiles里
    </p>
  </div>
  <div>
    <h2>常用cli指令</h2>
    <span>生成没有测试文件的项目:ng new app1 --skip-tests</span>
    <br>
    <span>生成有路由模块的项目:ng new app1 --routing</span>
    <br>
    <span>使用提前编译构建:ng build --aot</span>
    <br>
    <span>最小化打包:ng build --prod</span>
    <br>
    <span>指定模板在ts文件中:ng g c componentName --inline-template</span>
    <br>
    <span>指定不生成spec文件:ng g c componentName --spec=false</span>
    <br>
    <span>将当前应用程序更新为最新版本:ng update --all</span>
  </div>
</div>