<form [formGroup]="fromc" style="border:1px solid red;padding:5px;margin-top: 10px">
  表单组件:<br>
  <input type="text" placeholder="child-1" formControlName="child1" (change)="makeChild2()">
  <input type="text" placeholder="child-2" formControlName="child2">
  <p style="font-size:14px;">{{makeChild}}</p>
  <div>
    表单组件的验证:
    <br>fromc.controls['child1'].valid：{{fromc.controls['child1'].valid|json}}
    <br>child1.errors:{{fromc.controls['child1'].errors|json}}
    <br>
    <br>fromc.controls['child2'].valid：{{fromc.controls['child2'].valid|json}}
    <br>child2.errors:{{fromc.controls['child2'].errors|json}}
  </div>
</form>