<div>
  <div *ngIf="path=='1';else temp" [@tips]="tipModal">
    <div class="messageTip">
      <p>
        这个弹出框可以用来作为信息提示,3秒后自动消失，也可点击关闭按钮，用到了 keyframes
      </p>
      <button (click)="close()">关闭</button>
    </div>
  </div>

  <ng-template #temp>
    <div class="waper">
      <div class="confirmDiv" [@comf]="confirms">
        <p>
          这个弹出框可以用来作为confirm
        </p>
        <button (click)="comfirmClose('sure')">确定</button>
        <button (click)="comfirmClose('no')">关闭</button>
      </div>
    </div>
  </ng-template>
</div>