<div class="waper" (click)="close('waper')">
  <div class="showContent" (click)="close($event)">
    <div *ngIf="path=='1';then temp;else temp2">
      <div >
        <p>
          {{path|json}}
        </p>
        <button (click)="close()">关闭1</button>
      </div>
    </div>
    <ng-template #temp>
      <div>
        <p>
          {{path|json}}
        </p>
        <button (click)="close()">关闭2</button>
      </div>
    </ng-template>
    <ng-template #temp2>
      <div>
        <p>
          {{path ? path:'path没值'|json}}
        </p>
        <button (click)="close()">关闭3</button>
      </div>
    </ng-template>
  </div>
</div>