<div class="waper">
  <div>
    <h2> 属性指令</h2>
    <strong appHighlight>使用HostListener为元素添加事件</strong>
    <p [appHighlight]="color" author="attribute author">
      为元素添加自定义属性并使用@Attribute()读取属性
      <br> 使用输入型的属性指令
    </p>
    <br>
    <strong>使用HostBinding为元素添加属性，点击按钮</strong>
    <br>
    <button hostbindingd>HostBinding</button>
  </div>
  <div>
    <h2>ng-template</h2>
    <div *ngTemplateOutlet="tpl"></div>
    <ng-template #tpl>
      <p>ng-template属于后加载的，作为行元素放在当前组件，不与先加载 的一起构成DOM结构，若不指定 ngTemplateOutlet，是不会显示出来的。
        <br>若是用createEmbeddedView() 动态创建的，会作为当前整个页面的子元素append进去
      </p>
    </ng-template>
    <div>
      <h2>
        <h4>用createEmbeddedView() 动态创建ng-template，点击按钮看页面最底下</h4>
      </h2>
      <button (click)="createEmbeddedViews()">createEmbeddedViews</button>
    </div>
    <h2>ng-container</h2>
    <ng-container *ngIf="true">
      <p> ngIf with an ng-container.</p>
    </ng-container>

  </div>

  <div>
    <h2>ViewChildren</h2>
    <p>将多个组件B、C放到一个组件A内，形成组件组， 然后将A组件放到这个组件组应该安放的位置
    </p>
    <app-ng-view></app-ng-view>
  </div>

  <div>
    <h2>ContentChildren</h2>
    <p>将组件A、B一起放到最终位置，但A标签内放入B标签，同时在A组件的html内，用 ng-content表明B组件应该显示的位置
    </p>
    <app-ng-content>
      <app-ng-content-child></app-ng-content-child>
    </app-ng-content>
  </div>
</div>

<div class="waper">
  <div>
    <h2>自定义管道</h2>
    <div *ngIf="isChage">
      <div *ngFor="let hero of (heroes | flyingHeroes)">
        {{hero.id}}
      </div>
    </div>
    <button (click)="toggles()">toggles</button>
    <div>
      <div [innerHTML]="someHTML"></div>
    </div>
  </div>
  <div>
    <h2>angular内建管道</h2>
    <div>
      <p ngNonBindable>1.大写转换：{{ 'Angular' | uppercase }}</p>
      <p>{{ 'Angular' | uppercase }}</p>
    </div>
    <div>
      <p ngNonBindable>2.小写转换：{{ 'Angular' | lowercase }}</p>
      <p>{{ 'Angular' | lowercase }}</p>
    </div>
    <div>
      <p ngNonBindable>3.数值格式化：{{ 3.14159265 | number: '1.4-4' }}</p>
      <p>{{ 3.14159265 | number: '1.4-4' }}</p>
    </div>
    <div>
      <p ngNonBindable>4.日期格式化：{{ today | date: 'shortTime' }}</p>
      <p>{{ today | date: 'shortTime' }}</p>
    </div>
    <div>
      <p ngNonBindable>5.JavaScript 对象序列化：{{ { name: 'semlinker' } | json }}</p>
      <p>{{ { name: 'semlinker' } | json }}</p>
    </div>
    <div>
      <p ngNonBindable>6.首字母转换：{{ 'angular' | titlecase }}</p>
      <p>{{ 'angular' | titlecase }}</p>
    </div>
  </div>
  <div>
    <div>
      <p>
        <strong>管道参数</strong>
        <br> 管道可以接收任意数量的参数，使用方式是在管道名称后面添加“ : ”和参数值。
        <br> 如 number: '1.4-4' ，若需要传递多个参数则参数之间用冒号隔开，具体示例如下：
      </p>
      <p ngNonBindable>{{ 'semlinker' | slice:0:3 }}</p>
      <p>{{ 'semlinker' | slice:0:3 }}</p>
    </div>
    <div>
      <p>
        <strong>管道链</strong>
        <br> 我们可以将多个管道连接在一起，组成管道链对数据进行处理。
      </p>
      <p ngNonBindable>{{ 'semlinker' | slice:0:3 | uppercase }}</p>
      <p>{{ 'semlinker' | slice:0:3 | uppercase }}</p>
    </div>
  </div>
  <div>
    <h2>resolve</h2>
    {{resolveDatas}}
  </div>
  <div>
    <h2>动态生成组件</h2>
    <button (click)="startAd()">startAd</button>
    <button (click)="closeRD()">closeRD</button>
    <ng-template #adhost></ng-template>
  </div>
</div>