<div>
  <button (click)="login()">login</button>
  <button (click)="loginOut()">loginOut</button>
  <button (click)="canGo()">canGo</button>
  <button (click)="canNotGo()">canNotGo</button>
  <button (click)="canLeave()">canLeave</button>
  <button (click)="canNotLeave()">canNotLeave</button>
</div>
<ul>
  <li routerLink="one" routerLinkActive="active">one</li>
  <li routerLink="two" routerLinkActive="active">two</li>
  <li routerLink="three" routerLinkActive="active">three</li>
  <li (click)="toTwo()">twoChild4</li>
  <li [routerLink]="['/two', 'twoChild4']">/two/:id</li>
</ul>
<p>{{child}}</p>
<router-outlet></router-outlet>
