<div class="waper">
  <div style="width:35%;font-size:14px;">
    <h2>自定义表单组件</h2>
    <form [formGroup]="froms" (ngSubmit)="isSubmit(froms,$event)">
      <label>one1
        <input type="text" placeholder="第一个" formControlName="one1">
        <button (click)="toPatchValue()">给表单设值</button>
      </label>
      <br>
      <label>two1
        <input type="text" minlength="4" placeholder="第二个，minlength=4" formControlName="two1">
      </label>
      <br>
      <label>当前表单
        <input type="checkbox" formControlName="check">formControlName="check"
      </label>
      <br>
      <label>异步验证(2s)
        <input type="text" placeholder="异步验证" formControlName="testAsycn">
      </label>
      <label>
        <app-one-child3-child formControlName="three"></app-one-child3-child>
      </label>
      <div style="background:rgb(240, 243, 250);padding:10px;font-size:14px;">
        froms.valid : {{froms.valid | json}}
        <br> froms.value:{{froms.value|json}}
        <br>
        <br>froms.controls['one1'].errors :
        {{froms.controls['one1'].errors | json}}
        <br>froms.controls['two1'].errors :
        {{froms.controls['two1'].errors | json}}
        <br>
        <br>froms.controls['testAsycn'].valid：
        {{froms.controls['testAsycn'].valid}}
        <br>froms.controls['testAsycn'].errors：
        {{froms.controls['testAsycn'].errors | json}}
      </div>
      <button type="submit">提交</button>
      <button type="button" (click)="consoleForms()">console forms</button>
    </form>
  </div>
  <div style="width:20%;">
    <h2>webWorker</h2>
    <p>3秒后返回数据</p>
    <p>
      {{worker_data|json}}
    </p>
    <button (click)="startWorker()">开始 Worker</button>
    <button (click)="stopWorker()">停止 Worker</button>
    <h2>用node搭建服务器</h2>
    <button (click)="open()">开启</button>
    <button (click)="close()">关闭</button>
    <button (click)="socket()">服务器推送模式</button>
    <input #inp type="text">
    <button (click)="send(inp.value)">发送</button>
    <p>{{webstocketMsg}}</p>
    <div>
      <p>方法：</p>
      npm install nodejs-websocket<br>
      定位到nodes文件(service/index.js)，然后执行：'node index.js', (不要将node文件放在anguar文件夹内)<br>
      https://github.com/sitegui/nodejs-websocket
    </div>
    <div>
      <button (click)="otherFun()"> 判断设备是否可以上网</button><br>
      {{isCan}}
    </div>
  </div>
  <div style="padding:0 10px;font-size: 16px;width:45%;">
    <h2>vscode 设置</h2>
    <p>1、先按ctrl(mac是command键) + k，再按ctrl(mac是command键) + 0，可以实现vscode代码折叠</p>
    <p>2、按ctrl(mac是command键) + 数学减号'-'，可实现vscode字体变小，数学加号'+'，可实现vscode字体变大</p>
    <p>3、每5分钟自动保存一次："files.autoSaveDelay": 30000,</p>
    <p>4、控制编辑器是否应在键入后自动设置行格式化："editor.formatOnType": false,Alt+Shift+F实现手动格式化代码</p>
    <p>5、调整编辑区域的缩放级别："window.zoomLevel": 0.5,</p>
    <p>6、同步 Git 存储库前进行确认（左下角）："git.confirmSync": false,</p>
    <p>7、编辑区域字体大小设置："editor.fontSize": 16,</p>
    <p>8、重命名或移动文件时自动更新 import 语句的路径："typescript.updateImportsOnFileMove.enabled": "always",</p>
    <p>9、控制是否显示工作台底部状态栏中的 Twitter 反馈 (笑脸图标)："workbench.statusBar.feedback.visible": false,</p>
    <p>10、限制小地图的宽度："editor.minimap.maxColumn": 30,</p>
    <p>11、限制小地图的位置"editor.minimap.side": "left",</p>
    <p>12、按ctrl(mac是command键) + 数学减号'-'，可实现vscode字体变小，数学加号'+'，可实现vscode字体变大</p>
    <p>设置json文件里，"editor.hover.enabled": true,可以用来打开css颜色提示、变更选择选项卡</p>
  </div>
</div>