<div class="waper">
  <div>
    <p>自定义表单组件</p>
    <form [formGroup]="froms" (ngSubmit)="isSubmit(froms,$event)">
      <label>当前表单
        <input type="text" placeholder="第一个" formControlName="one1">
      </label>
      <br>
      <label>当前表单
        <input type="text" placeholder="第二个" formControlName="two1">
      </label>
      <br>
      <label>当前表单
        <input type="checkbox" formControlName="check">formControlName="check"
      </label>
      <br>
      <label>表单组件
        <app-one-child3-child formControlName="three"></app-one-child3-child>
      </label>
      <br>
      <div style="background:rgb(240, 243, 250);padding:10px;">
        froms.valid : {{froms.valid | json}}
        <br>froms.controls['one1'].errors : {{froms.controls['one1'].errors | json}}
        <br>
        <br> {{froms.value|json}}
      </div>
      <button type="submit">提交</button>
      <button type="button"(click)="dasdf()">test</button>
    </form>
  </div>
  <div>
    <h3>webWorker</h3>
    <p>计数:
      <output id="result"></output>
    </p>
    <button (click)="startWorker()">开始 Worker</button>
    <button (click)="stopWorker()">方法一的停止 Worker</button>
    <h3>Websocket</h3>
    <button (click)="websocket()">Websocket</button>
  </div>
  <div>

  </div>

</div>