
/* URL 是相对于你正在导入的 CSS 文件的。 */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
/* @import    "../node_modules/_bootstrap@4.1.2@bootstrap/dist/css/bootstrap.css"; */
 
@import './quill_css.css';
body,html,div,ul,li,p,h1,h2,h3,h4{
    padding:0;
    margin:0;
}
.active {
    color: red;
    border: 1px solid rgb(252, 164, 0);
    padding: 3px 10px;
}

.activeChild {
    color: green;
    border: 1px dashed royalblue;
    padding: 3px 10px;
}

button {
    padding: 3px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ql-editing {
    margin-left: 110px;
    margin-right: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

li {
    margin-right: 10px;
    padding: 2px;
    cursor: pointer;
    outline: none;
}

p {
    margin: 5px 0;
}

.waper {
    display: flex;
    justify-content: space-between;
}
.waper>div{
    width:100%;
    padding: 10px;
    border:1px dashed rebeccapurple;
}
